# Node.js dependencies
node_modules/

# Test files
test/

# Example files
examples/

# Build configuration
webpack.config.js

# Development files
package-lock.json
config.example.json

# Documentation
DEPLOYMENT.md
LICENSE
MIGRATION.md

# Source map files
dist/assets/*.map